<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>검증</title>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css"/>
    <link rel="stylesheet" th:href="@{/web/output.css}">
</head>

<body class="min-w-[678px] overflow-scroll">
<!--nav-->
<nav class="lg:h-[100px] h-[80px] flex items-center">
    <div class="lg:px-[100px] px-[50px] my-auto w-full flex justify-between">
        <a th:href="@{/main}">
            <img th:src="@{/web/images/logo.svg}" alt="로고이미지"/>
        </a>
        <section class="flex gap-[60px]">
            <a class="block leading-10 h-[40px]" th:href="@{/business}">사업분야</a>
            <a class="block leading-10 h-[40px]" th:href="@{/validation_center}">검증센터</a>
        </section>
    </div>
</nav>

<main class="w-full h-fit relative">
    <section class="lg:h-[80px] h-[70px] lg:px-[100px] px-[50px] flex" style="
          background: linear-gradient(
              180deg,
              rgba(24, 123, 215, 0) 0%,
              rgba(24, 123, 215, 0.8) 100%
            ),
            #00a0e9;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        ">
        <h1 class="text-white text-xl my-auto">검증</h1>
    </section>

    <div th:object="${diode}" id="pdf-section" class="flex flex-col gap-[10px] my-5 items-center">
        <h2>Check Component</h2>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[70%]">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 border-r">Part No</th>
                    <th scope="col" class="px-6 py-3 border-r">Manufacturer</th>
                    <th scope="col" class="px-6 py-3 border-r">Application</th>
                    <th scope="col" class="px-6 py-3">Step</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row"
                        id="partNo"
                        th:text="${diode.getPartNo()}"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">

                    </th>
                    <td class="px-6 py-4 border-r" id="manufacturer_name" th:text="${diode.getManufacturer_name()}">
                    </td>
                    <td class="px-6 py-4 border-r">Mobile</td>
                    <td class="px-6 py-4">DR 0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>1. Features Check</h2>
        <!--        placeholder-->
        <div class="bg-gray-50 w-[70%] h-[600px] flex">
            <div class="w-[50%] h-full"><img
                    th:src="@{${urlHelper.getImageUrl(diode.getPackage_type())}}" alt="image"
                    onerror="this.src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=';"
                    class="h-full" style="object-fit: cover; object-position: center;">
            </div>
            <div class="w-[50%] h-full"><img
                    th:src="@{${urlHelper.getImageUrl(diode.getPicture1())}}" alt="image"
                    onerror="this.src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=';"
                    class="h-full" style="object-fit: cover; object-position: center;">
            </div>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[70%]">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row"
                        class="px-6 py-4 w-[50%] border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Check Result
                    </th>
                    <td class="px-6 py-4"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>2. Min/Maximum Rating</h2>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[70%]">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">Check Item</th>
                    <th scope="col" class="px-6 py-3 border-r">Unit</th>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">설계 값</th>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">Datasheet</th>
                    <th scope="col" class="px-6 py-3 border-r">적용여부</th>
                    <th scope="col" class="px-6 py-3">Result</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" rowspan="3"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Temperature
                    </th>
                    <td class="px-6 py-4 border-r">Ambident</td>
                    <td class="unit px-6 py-4 border-r">℃</td>
                    <td contenteditable="true" id="oprating_temperature_min" class="data-input px-6 py-4 border-r">
                    </td>
                    <td contenteditable="true" id="oprating_temperature_max" class="data-input px-6 py-4 border-r">
                    </td>
                    <td th:text="${diode.oprating_temperature_min}" class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.oprating_temperature_max}" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 border-r">Storage</td>
                    <td class="unit px-6 py-4 border-r">℃</td>
                    <td contenteditable="true" id="storage_temperature_min" class="data-input px-6 py-4 border-r"></td>
                    <td contenteditable="true" id="storage_temperature_max" class="data-input px-6 py-4 border-r"></td>
                    <td th:text="${diode.storage_temperature_min}" class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.storage_temperature_max}" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 border-r">Junction</td>
                    <td class="unit px-6 py-4 border-r">℃</td>
                    <td contenteditable="true" id="juction_temperature_min" class="data-input px-6 py-4 border-r"></td>
                    <td contenteditable="true" id="juction_temperature_max" class="data-input px-6 py-4 border-r"></td>
                    <td th:text="${diode.juction_temperature_min}" class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.juction_temperature_max}" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" rowspan="2"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Input
                    </th>
                    <td class="px-6 py-4 border-r">전압</td>
                    <td class="unit px-6 py-4 border-r">VDC</td>
                    <td contenteditable="true" id="forward_current_max" class="data-input px-6 py-4 border-r"></td>
                    <!--                    <td contenteditable="true" class="data-input px-6 py-4 border-r"></td>-->
                    <td contenteditable="true" class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.forward_current_max}" class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.non_repated_peak_Surge_current_max}" class="px-6 py-4 border-r"></td>
                    <!--                    <td class="px-6 py-4 border-r"></td>-->
                    <!--                    <td class="needValidate px-6 py-4 border-r"></td> &lt;!&ndash; 적용여부&ndash;&gt;-->
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 border-r">전류</td>
                    <td class="px-6 py-4 border-r">A</td>
                    <td class="px-6 py-4 border-r"></td>
                    <td class="px-6 py-4 border-r"></td>
                    <td class="px-6 py-4 border-r"></td>
                    <td class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" rowspan="3"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Output
                    </th>
                    <td class="px-6 py-4 border-r">전압</td>
                    <td class="unit px-6 py-4 border-r">VDC</td>
                    <!--                    <td contenteditable="true" id="" class="data-input px-6 py-4 border-r">-->
                    <td class="data-input px-6 py-4 border-r"> <!--Output 전압-->

                    </td>
                    <td contenteditable="true" id="peak_repetitive_reverse_voltage_max"
                        class="data-input px-6 py-4 border-r">
                    </td>
                    <td th:text="${diode.voltage_rate_of_change}" class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.peak_repetitive_reverse_voltage_max}" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 border-r">전류</td>
                    <td class="unit px-6 py-4 border-r">A</td>
                    <td contenteditable="true" class="data-input px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="data-input px-6 py-4 border-r"></td>
                    <!--                    <td th:text="${diode.capacitance_typ}" class="px-6 py-4 border-r"></td>-->
                    <!--                    <td th:text="${diode.capacitance_max}" class="px-6 py-4 border-r"></td>-->
                    <td class="px-6 py-4 border-r"></td>
                    <td class="px-6 py-4 border-r"></td>
                    <td class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 border-r">정격전력</td>
                    <td class="px-6 py-4 border-r">W</td>
                    <td class="px-6 py-4 border-r"></td>
                    <td class="px-6 py-4 border-r"></td>
                    <td class="px-6 py-4 border-r"></td>
                    <td class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>3. Mechanical and Package</h2>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[70%]">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">Check Item</th>
                    <th scope="col" class="px-6 py-3 border-r">Unit</th>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">설계 값</th>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">Datasheet</th>
                    <th scope="col" class="px-6 py-3 border-r">적용여부</th>
                    <th scope="col" class="px-6 py-3">Result</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" rowspan="5"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        패키지
                    </th>
                    <td class="px-6 py-4 border-r">Type *1</td>
                    <td class="unit px-6 py-4 border-r">Model</td>
                    <td contenteditable="true" id="type" colspan="2" class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.type}" colspan="2" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" id="type-needValidate" class="needValidate px-6 py-4 border-r"></td>
                    <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 border-r">MSL</td>
                    <td class="unit px-6 py-4 border-r">Level</td>
                    <td contenteditable="true" id="reliability_msl" colspan="2" class="data-input px-6 py-4 border-r">

                    </td>
                    <td th:text="${diode.reliability_msl}" colspan="2" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 border-r">RoHS</td>
                    <td class="unit px-6 py-4 border-r">유/무</td>
                    <td contenteditable="true" id="reliability_rohs" colspan="2" class="data-input px-6 py-4 border-r">
                    </td>
                    <td th:text="${diode.reliability_rohs}" colspan="2" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 border-r">Pb Free</td>
                    <td class="unit px-6 py-4 border-r">유/무</td>
                    <td contenteditable="true" id="reliability_pbf" colspan="2" class="data-input px-6 py-4 border-r">
                    </td>
                    <td th:text="${diode.reliability_pbf}" colspan="2" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 border-r">Halogen Free</td>
                    <td class="unit px-6 py-4 border-r">유/무</td>
                    <td contenteditable="true" id="reliability_halogen_free" colspan="2"
                        class="data-input px-6 py-4 border-r">
                    </td>
                    <td th:text="${diode.reliability_halogen_free}" colspan="2" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>4. Electrical Characteristics</h2>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[70%]">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">Check Item</th>
                    <th scope="col" class="px-6 py-3 border-r">Unit</th>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">설계 값</th>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">Datasheet</th>
                    <th scope="col" class="px-6 py-3 border-r">적용여부</th>
                    <th scope="col" class="px-6 py-3">Result</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" colspan="2"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Forward Voltage *2
                    </th>
                    <td class="unit px-6 py-4 border-r">V</td>
                    <td class="px-6 py-4 border-r"></td>
                    <td class="px-6 py-4 border-r"></td>
                    <td class="px-6 py-4 border-r"></td>
                    <td class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" colspan="2"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Voltage Change Rate
                    </th>
                    <td class="unit px-6 py-4 border-r">V/us</td>
                    <td class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" id="voltage_rate_of_change" class="data-input px-6 py-4 border-r">

                    </td>
                    <td class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.voltage_rate_of_change}" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" colspan="2"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Non-repetitive Peak Reverse Voltage
                    </th>
                    <td class="unit px-6 py-4 border-r">V</td>
                    <td class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" id="peak_reverse_voltage_max"
                        class="data-input px-6 py-4 border-r">
                    </td>
                    <td class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.peak_reverse_voltage_max}"
                        class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" colspan="2"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Non-repetitive Peak Surge Current *3
                    </th>
                    <td class="unit px-6 py-4 border-r">A</td>
                    <td class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" id="non_repated_peak_Surge_current_max" class="px-6 py-4 border-r">
                    </td>
                    <td class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.non_repated_peak_Surge_current_max}" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td colspan="2" class="px-6 py-4 border-r">Capacitance</td>
                    <td class="px-6 py-4 border-r">pF</td>
                    <td contenteditable="true" id="capacitance_min" class="px-6 py-4 border-r">
                    </td>
                    <td contenteditable="true" id="capacitance_max" class="px-6 py-4 border-r">
                    </td>
                    <td th:text="${diode.capacitance_min}" class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.capacitance_max}" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td colspan="2" class="px-6 py-4 border-r">Reverse Recovery Time</td>
                    <td class="unit px-6 py-4 border-r">ns</td>
                    <td class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" id="reverse_recovery_time" class="px-6 py-4 border-r">
                    </td>
                    <td class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.reverse_recovery_time}" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--        placeholder-->
        <div class="grid grid-cols-2 gap-5 bg-gray-50 w-[70%] h-[600px]">
            <div><img th:src="@{${urlHelper.getImageUrl(diode.getPicture2())}}" alt="image"
                      onerror="this.src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=';" class="h-full"
                      style="object-fit: cover; object-position: center;"></div>
            <div><img th:src="@{${urlHelper.getImageUrl(diode.getPicture3())}}" alt="image"
                      onerror="this.src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=';" class="h-full"
                      style="object-fit: cover; object-position: center;"></div>
            <!--            <div><img alt="image" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=';" class="h-full"-->
            <!--                      style="object-fit: cover; object-position: center;"></div>-->
            <!--            <div><img alt="image" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=';" class="h-full"-->
            <!--                      style="object-fit: cover; object-position: center;"></div>-->
        </div>
        <h2>5. Pin Function</h2>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[70%]">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">Check Item</th>
                    <th scope="col" class="px-6 py-3 border-r">Unit</th>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">설계 값</th>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">Datasheet</th>
                    <th scope="col" class="px-6 py-3 border-r">적용여부</th>
                    <th scope="col" class="px-6 py-3">Result</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" colspan="2"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Pin Number
                    </th>
                    <td class="unit px-6 py-4 border-r">Pin</td>
                    <td contenteditable="true" id="package_pin_num" colspan="2" class="data-input px-6 py-4 border-r">

                    </td>
                    <td th:text="${diode.package_pin_num}" colspan="2" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td colspan="2" class="px-6 py-4 border-r">Diode Quantity</td>
                    <td class="unit px-6 py-4 border-r">개</td>
                    <td contenteditable="true" id="diode_quantity" colspan="2" class="data-input px-6 py-4 border-r">

                    </td>
                    <td th:text="${diode.diode_quantity}" colspan="2" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>6. Reliability and Qualified</h2>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[70%]">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">Check Item</th>
                    <th scope="col" class="px-6 py-3 border-r">Unit</th>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">설계 값</th>
                    <th scope="col" colspan="2" class="px-6 py-3 border-r">Datasheet</th>
                    <th scope="col" class="px-6 py-3 border-r">적용여부</th>
                    <th scope="col" class="px-6 py-3">Result</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" rowspan="2"
                        class="px-6 py-4 border-r font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Qualified
                    </th>
                    <td class="px-6 py-4 border-r">AEC</td>
                    <td class="px-6 py-4 border-r">유/무</td>
                    <td contenteditable="true" id="reliability_aec_q101" colspan="2" class="px-6 py-4 border-r"></td>
                    <td th:text="${diode.reliability_aec_q101}" colspan="2" class="px-6 py-4 border-r"></td>
                    <td contenteditable="true" class="needValidate px-6 py-4 border-r"></td> <!-- 적용여부-->
                    <td class="px-6 py-4"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <button type="submit"
                onclick="saveAndVerify()"
                class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            저장 후 검증
            <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>
</main>

<footer style="
        background: linear-gradient(
            180deg,
            rgba(24, 123, 215, 0) 0%,
            rgba(24, 123, 215, 0.8) 100%
          ),
          #00a0e9;
      " class="h-fit text-white">
    <section class="flex justify-around py-10 px-10">
        <h3 class="text-2xl">CONTACT US</h3>
        <article class="flex flex-col">
            <a href="tel:+032-326-0213">032-326-0213</a>
            <a href="mailto:yblee@qraps.co.kr">chkim@qraps.co.kr</a>
            <address>인천광역시 부평구 여우재로26번길 28-13</address>
        </article>
    </section>
    <hr/>
    <section class="px-10 py-5 text-center">
        ⓒ QRAPS 2022. All rights reserved.
    </section>
</footer>

<script th:src="@{/web/env.js}"></script>
<script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
<script>
    console.log('load script');

    async function saveAndVerify() {

        const partNo = document.getElementById('partNo').textContent;
        const partNoField = {
            partName: "partNo",
            unit: "",
            designValue: partNo,
            needValidate: null,
        };

        const manufacturerName = document.getElementById('manufacturer_name').textContent;
        const manufacturerNameField = {
            partName: "manufacturer_name",
            unit: "",
            designValue: manufacturerName,
            needValidate: null,
        }

        const type = document.getElementById('type').textContent;
        const isTypeNeedValidate = document.getElementById('type-needValidate').textContent;

        const typeField = {
            partName: "type",
            unit: "",
            designValue: type,
            needValidate: isTypeNeedValidate === 'o' ? 'o' : null,
        }


        const excelHeaderRowFields = [partNoField, manufacturerNameField, typeField];
        let excelRowFields = [];

        // partNo, manufacturerName 제외
        const rows = document.getElementsByTagName('tr');
        for (const row of rows) {
            let designValues = row.getElementsByClassName('data-input');

            for (const designValue of designValues) {
                const cells = row.getElementsByTagName('td');
                const partName = designValue?.id;
                const value = designValue?.textContent.trim();
                let field = {};
                field['partName'] = partName;
                field['designValue'] = value;

                for (const cell of cells) {
                    if (cell.classList.contains('unit')) {
                        field['unit'] = cell?.textContent;
                    } else if (cell.classList.contains('needValidate')) {
                        // 설계 값이 존재하는 경우에만 적용여부 확인
                        // Min, Max 값 두개중 하나만 있는 경우 처리하기 위함
                        if (value) {
                            field['needValidate'] = cell?.textContent === 'o' ? 'o' : null;
                        }
                    }
                }

                excelRowFields.push(field);
            }

        }


        const url = new URL(`${BASE_URL}/save/excel`);

        const body = JSON.stringify({
            partNo,
            validateTarget: 'DIODE',
            excelHeaderRowFields,
            excelRowFields
        });

        const response = await fetch(url, {
            headers: {
                'Content-Type': 'application/json',
            },
            method: 'POST',
            body
        }).catch(err => console.error(err));


        if (response.redirected) {
            window.location.href = response.url;
        } else {
            console.log("no redir");
        }
    }

</script>
</body>

</html>
